# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)
# Author: jequeto@gmail.com
# Since: December 2013
<IfModule mod_rewrite.c>

	# disable directory listing
	Options -Indexes +FollowSymLinks -MultiViews

	RewriteEngine on
	RewriteOptions Inherit

	# Funciona
	# URL amigable tipo .../app_root/parametro1/parametro2/parametro3/[parametro4/...]
	# No se reescribe si la URI acaba en .extensión. Por ejemplo: .ccs, .php. .pdf, .jpg, ...
	# Esto se hace para que las peticiónes de recursos desde el cliente web no ser reescriban,
	# pues todas las reescrituras acaban en el fichero index.php

	# RewriteCond %{REQUEST_URI} !(\.\w+)
	# RewriteRule .* index.php [QSA,L,NS]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [QSA,L,NS]
    

</IfModule>